.jumbotron{
	padding-top: 10px;
	padding-bottom: 10px;
}

.jumbotron h1{
	font-size: 40px;
	margin-top: 10px;
}

.box{
	border-style: solid;
	height: 219px;
}

#player-name-input{
	width: 50%;
	display: inline;
}
#enter-player-button{
	display: inline;
}